* {
    margin: 0px;
    padding: 0px;
}

@media screen {
    
}

html {
    background-color: gray;
}

body {
    height: 297mm;
    width: 210mm;
    background-color: aquamarine;
    margin: auto;
}

#header {
    height: 25%;
    width: 100%;
}

#imagen {
    height: 100%;
    width: 35%;
    float: left;
}

#foto {
    height: 90%;
    width: 90%;
    border-radius:  50%;
    margin: 1em;
}

#nombre {
    height: 100%;
    width: 65%;
    float: right;
    text-align: left;
}

#main {
    height: 75%;
    width: 100%;
    text-align: center;
}

#izquierdo {
    height: 100%;
    width: 35%;
    float: left;
}

#derecho {    
    height: 100%;
    width: 65%;
    background-color: whitesmoke;
    float: right;
}

.colorborder {
    background-color: #283747;
}

h2 {
    background-color: aqua;
}

p {
    text-align: left;
}