* {
    margin: 0px;
    padding: 0px;
}

@media screen {
    
}

#box1 {
    width: 1200px;
    height: 1000px;
    background-color: #D8D8D8;
    margin: 0.5em auto;
    padding: 0.5em;
}

#header {
    height: 20%;
    background-color: #A4A4A4;
    border-radius: 1em;
    margin: 1em;
}

#nav {
    height: 10%;
    background-color: #424242;
    border-radius: 1em;
    margin: 1em;
}

#box2 {
    height: 50%;
    background-color: white; 
}

#footer {
    height: 20%;
    background-color: blue;
    border-radius: 1em;
}
