* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #F9EBEA;
}

.header {
    height: 350px;
    background-color: #C0392B;
    margin-top: 2em;
}

#foto{
    margin: 1.5em;
    margin-left: 4em;
}

.main h3 {
    height: 50px;
    text-align: center;
    background-color: #CD6155;
    margin-top: 1em;
    margin-bottom: 1em;
}

.main h4 {
    text-align: center;
    background-color: #D98880;
}

.main h5 {
    text-align: center;
    background-color: #E6B0AA;
}

.footer {
    height: 500px;
    background-color: #C0392B; 
}

i {
    height: 32px;
    width: 32px;
}