* {
    margin: 0px;
    padding: 0px;
}

nav{
    height: 4em;
}

body {
    background-color: #F9EBEA;
}

.header {
    height: 350px;
    background-color: #C0392B;
    margin-top: 2em;
    margin-bottom: 5em;
}

#foto{
    margin: 1.5em;
    margin-left: 4em;
}

.main h3 {
    height: 60px;
    text-align: center;
    background-color: #CD6155;
    padding-top: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.main p {
    text-align: center;
}

.main li{
    text-align: start;
}

.main h4 {
    height: 50px;
    padding-top: 0.5em;
    text-align: center;
    background-color: #D98880;
}

.main h5 {
    height: 45px;
    padding-top: 0.5em;
    text-align: center;
    background-color: #E6B0AA;
}

.footer {
    height: 500px;
    background-color: #C0392B; 
}

#titulo-footer {
    padding-top: 2em;
    padding-left: 3em;
    padding-bottom: 1em;
}

#cuerpo-footer .row .container {
    margin: 1em;
    padding-bottom: 1em;

}